

body {
    font-family: sans-serif;
}

.msg {
    padding-top: 10px;
}

.modal {
    background-image: url(firework.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

#winner {
    display: none;
}

.container section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    gap: 20px;
}
.container img {
    width: 500px;
}

@media (max-width: 776px) {
    .container section {
        flex-direction: column;
    }
}
.container section .content {
    max-width: 100%;
}
.container section .conditions {
    margin: 50px 0;
    width: 500px;
    max-width: 100%;
}

.container  h2 {
    margin-bottom: 15px;
}
.container section .conditions p {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.container section form {
    width: 500px;
    max-width: 100%;
}


.container section form > div {
    margin-bottom: 20px;
}

.subscribers  {
    padding-bottom: 200px;
}
.subscribers .users-box {
    display: none;
}
.subscribers .users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.subscribers .users .user-box  {
    border-radius: 5px;
    padding: 10px;
}

.subscribers .users .user-box p {
    color: #777;
}

#loader-con {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}